In [38]:
import pandas as pd
import numpy as np
import multiprocessing
import time

In [2]:
 list1 = [1,2,3,4,5,6,7,8,9]
 list2 = ["John", "Mary", "George", "Anne", "William", "Britany", "Steve", "Kathy", "Michael"]
 list3 = ["CS", "CSIS", "Biology", "Math", "CS", "CSIS", "Math", "Biology", "CS"]

In [3]:
data = {'Student-ID': list1, 'Student-Name': list2, 'Student-Major': list3}
df1 = pd.DataFrame(data)

In [4]:
df1

   Student-ID Student-Name Student-Major
0           1         John            CS
1           2         Mary          CSIS
2           3       George       Biology
3           4         Anne          Math
4           5      William            CS
5           6      Britany          CSIS
6           7        Steve          Math
7           8        Kathy       Biology
8           9      Michael            CS

In [5]:
df1.loc[(df1['Student-Major'] == 'CS') | (df1['Student-Major'] == 'CSIS')]

   Student-ID Student-Name Student-Major
0           1         John            CS
1           2         Mary          CSIS
4           5      William            CS
5           6      Britany          CSIS
8           9      Michael            CS

In [6]:
df2 = df1.copy()

In [7]:
df2.drop(df2.index[0:9])

Empty DataFrame
Columns: [Student-ID, Student-Name, Student-Major]
Index: []

In [9]:
df2.loc[len(df2.index)] = [10, 'Gregory', 'CS']
df2.loc[len(df2.index)] = [11, 'Valerie', 'Biology']

In [39]:
df=df2

In [40]:
df

    Student-ID Student-Name Student-Major
0            1         John            CS
1            2         Mary          CSIS
2            3       George       Biology
3            4         Anne          Math
4            5      William            CS
5            6      Britany          CSIS
6            7        Steve          Math
7            8        Kathy       Biology
8            9      Michael            CS
9           10      Gregory            CS
10          11      Valerie       Biology

In [11]:
a = np.zeros((6, 6))

In [12]:
a = np.pad(a, pad_width=1, mode='constant', constant_values=1)

In [13]:
a

array([[1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.]])

In [27]:
b = [[1,0,0,0,0,-1],
     [0,1,0,0,-1,0],
     [0,0,1,-1,0,0],
     [0,0,-1,1,0,0],
     [0,-1,0,0,1,0],
     [-1,0,0,0,0,1],
    ]

In [28]:
b

[[1, 0, 0, 0, 0, -1],
 [0, 1, 0, 0, -1, 0],
 [0, 0, 1, -1, 0, 0],
 [0, 0, -1, 1, 0, 0],
 [0, -1, 0, 0, 1, 0],
 [-1, 0, 0, 0, 0, 1]]

[[-1, 0, 0, 0, 0, 1],
 [0, -1, 0, 0, 1, 0],
 [0, 0, -1, 1, 0, 0],
 [0, 0, 1, -1, 0, 0],
 [0, 1, 0, 0, -1, 0],
 [1, 0, 0, 0, 0, -1]]

In [37]:
l_all = list(range(1, 1000000))

In [42]:
l_even = []
l_odd = []
for i in l_all:
    if i%2 == 0:
        l_even.append(i**2)
    else:
        l_odd.append(i**2)

In [45]:
l_even_odd = []

In [55]:
startTime = time.time()
for i in range(len(l_even)):
    l_even_odd.append(l_odd[i] + l_even[i])
finishTime = time.time()

AttributeError: 'float' object has no attribute 'time'

In [56]:
l_even_odd

[5,
 25,
 61,
 113,
 181,
 265,
 365,
 481,
 613,
 761,
 925,
 1105,
 1301,
 1513,
 1741,
 1985,
 2245,
 2521,
 2813,
 3121,
 3445,
 3785,
 4141,
 4513,
 4901,
 5305,
 5725,
 6161,
 6613,
 7081,
 7565,
 8065,
 8581,
 9113,
 9661,
 10225,
 10805,
 11401,
 12013,
 12641,
 13285,
 13945,
 14621,
 15313,
 16021,
 16745,
 17485,
 18241,
 19013,
 19801,
 20605,
 21425,
 22261,
 23113,
 23981,
 24865,
 25765,
 26681,
 27613,
 28561,
 29525,
 30505,
 31501,
 32513,
 33541,
 34585,
 35645,
 36721,
 37813,
 38921,
 40045,
 41185,
 42341,
 43513,
 44701,
 45905,
 47125,
 48361,
 49613,
 50881,
 52165,
 53465,
 54781,
 56113,
 57461,
 58825,
 60205,
 61601,
 63013,
 64441,
 65885,
 67345,
 68821,
 70313,
 71821,
 73345,
 74885,
 76441,
 78013,
 79601,
 81205,
 82825,
 84461,
 86113,
 87781,
 89465,
 91165,
 92881,
 94613,
 96361,
 98125,
 99905,
 101701,
 103513,
 105341,
 107185,
 109045,
 110921,
 112813,
 114721,
 116645,
 118585,
 120541,
 122513,
 124501,
 126505,
 128525,
 130561,
 132613,
 134681,
 136765,
 138865,
 140981,
 143113,
 145261,
 147425,
 149605,
 151801,
 154013,
 156241,
 158485,
 160745,
 163021,
 165313,
 167621,
 169945,
 172285,
 174641,
 177013,
 179401,
 181805,
 184225,
 186661,
 189113,
 191581,
 194065,
 196565,
 199081,
 201613,
 204161,
 206725,
 209305,
 211901,
 214513,
 217141,
 219785,
 222445,
 225121,
 227813,
 230521,
 233245,
 235985,
 238741,
 241513,
 244301,
 247105,
 249925,
 252761,
 255613,
 258481,
 261365,
 264265,
 267181,
 270113,
 273061,
 276025,
 279005,
 282001,
 285013,
 288041,
 291085,
 294145,
 297221,
 300313,
 303421,
 306545,
 309685,
 312841,
 316013,
 319201,
 322405,
 325625,
 328861,
 332113,
 335381,
 338665,
 341965,
 345281,
 348613,
 351961,
 355325,
 358705,
 362101,
 365513,
 368941,
 372385,
 375845,
 379321,
 382813,
 386321,
 389845,
 393385,
 396941,
 400513,
 404101,
 407705,
 411325,
 414961,
 418613,
 422281,
 425965,
 429665,
 433381,
 437113,
 440861,
 444625,
 448405,
 452201,
 456013,
 459841,
 463685,
 467545,
 471421,
 475313,
 479221,
 483145,
 487085,
 491041,
 495013,
 499001,
 503005,
 507025,
 511061,
 515113,
 519181,
 523265,
 527365,
 531481,
 535613,
 539761,
 543925,
 548105,
 552301,
 556513,
 560741,
 564985,
 569245,
 573521,
 577813,
 582121,
 586445,
 590785,
 595141,
 599513,
 603901,
 608305,
 612725,
 617161,
 621613,
 626081,
 630565,
 635065,
 639581,
 644113,
 648661,
 653225,
 657805,
 662401,
 667013,
 671641,
 676285,
 680945,
 685621,
 690313,
 695021,
 699745,
 704485,
 709241,
 714013,
 718801,
 723605,
 728425,
 733261,
 738113,
 742981,
 747865,
 752765,
 757681,
 762613,
 767561,
 772525,
 777505,
 782501,
 787513,
 792541,
 797585,
 802645,
 807721,
 812813,
 817921,
 823045,
 828185,
 833341,
 838513,
 843701,
 848905,
 854125,
 859361,
 864613,
 869881,
 875165,
 880465,
 885781,
 891113,
 896461,
 901825,
 907205,
 912601,
 918013,
 923441,
 928885,
 934345,
 939821,
 945313,
 950821,
 956345,
 961885,
 967441,
 973013,
 978601,
 984205,
 989825,
 995461,
 1001113,
 1006781,
 1012465,
 1018165,
 1023881,
 1029613,
 1035361,
 1041125,
 1046905,
 1052701,
 1058513,
 1064341,
 1070185,
 1076045,
 1081921,
 1087813,
 1093721,
 1099645,
 1105585,
 1111541,
 1117513,
 1123501,
 1129505,
 1135525,
 1141561,
 1147613,
 1153681,
 1159765,
 1165865,
 1171981,
 1178113,
 1184261,
 1190425,
 1196605,
 1202801,
 1209013,
 1215241,
 1221485,
 1227745,
 1234021,
 1240313,
 1246621,
 1252945,
 1259285,
 1265641,
 1272013,
 1278401,
 1284805,
 1291225,
 1297661,
 1304113,
 1310581,
 1317065,
 1323565,
 1330081,
 1336613,
 1343161,
 1349725,
 1356305,
 1362901,
 1369513,
 1376141,
 1382785,
 1389445,
 1396121,
 1402813,
 1409521,
 1416245,
 1422985,
 1429741,
 1436513,
 1443301,
 1450105,
 1456925,
 1463761,
 1470613,
 1477481,
 1484365,
 1491265,
 1498181,
 1505113,
 1512061,
 1519025,
 1526005,
 1533001,
 1540013,
 1547041,
 1554085,
 1561145,
 1568221,
 1575313,
 1582421,
 1589545,
 1596685,
 1603841,
 1611013,
 1618201,
 1625405,
 1632625,
 1639861,
 1647113,
 1654381,
 1661665,
 1668965,
 1676281,
 1683613,
 1690961,
 1698325,
 1705705,
 1713101,
 1720513,
 1727941,
 1735385,
 1742845,
 1750321,
 1757813,
 1765321,
 1772845,
 1780385,
 1787941,
 1795513,
 1803101,
 1810705,
 1818325,
 1825961,
 1833613,
 1841281,
 1848965,
 1856665,
 1864381,
 1872113,
 1879861,
 1887625,
 1895405,
 1903201,
 1911013,
 1918841,
 1926685,
 1934545,
 1942421,
 1950313,
 1958221,
 1966145,
 1974085,
 1982041,
 1990013,
 1998001,
 2006005,
 2014025,
 2022061,
 2030113,
 2038181,
 2046265,
 2054365,
 2062481,
 2070613,
 2078761,
 2086925,
 2095105,
 2103301,
 2111513,
 2119741,
 2127985,
 2136245,
 2144521,
 2152813,
 2161121,
 2169445,
 2177785,
 2186141,
 2194513,
 2202901,
 2211305,
 2219725,
 2228161,
 2236613,
 2245081,
 2253565,
 2262065,
 2270581,
 2279113,
 2287661,
 2296225,
 2304805,
 2313401,
 2322013,
 2330641,
 2339285,
 2347945,
 2356621,
 2365313,
 2374021,
 2382745,
 2391485,
 2400241,
 2409013,
 2417801,
 2426605,
 2435425,
 2444261,
 2453113,
 2461981,
 2470865,
 2479765,
 2488681,
 2497613,
 2506561,
 2515525,
 2524505,
 2533501,
 2542513,
 2551541,
 2560585,
 2569645,
 2578721,
 2587813,
 2596921,
 2606045,
 2615185,
 2624341,
 2633513,
 2642701,
 2651905,
 2661125,
 2670361,
 2679613,
 2688881,
 2698165,
 2707465,
 2716781,
 2726113,
 2735461,
 2744825,
 2754205,
 2763601,
 2773013,
 2782441,
 2791885,
 2801345,
 2810821,
 2820313,
 2829821,
 2839345,
 2848885,
 2858441,
 2868013,
 2877601,
 2887205,
 2896825,
 2906461,
 2916113,
 2925781,
 2935465,
 2945165,
 2954881,
 2964613,
 2974361,
 2984125,
 2993905,
 3003701,
 3013513,
 3023341,
 3033185,
 3043045,
 3052921,
 3062813,
 3072721,
 3082645,
 3092585,
 3102541,
 3112513,
 3122501,
 3132505,
 3142525,
 3152561,
 3162613,
 3172681,
 3182765,
 3192865,
 3202981,
 3213113,
 3223261,
 3233425,
 3243605,
 3253801,
 3264013,
 3274241,
 3284485,
 3294745,
 3305021,
 3315313,
 3325621,
 3335945,
 3346285,
 3356641,
 3367013,
 3377401,
 3387805,
 3398225,
 3408661,
 3419113,
 3429581,
 3440065,
 3450565,
 3461081,
 3471613,
 3482161,
 3492725,
 3503305,
 3513901,
 3524513,
 3535141,
 3545785,
 3556445,
 3567121,
 3577813,
 3588521,
 3599245,
 3609985,
 3620741,
 3631513,
 3642301,
 3653105,
 3663925,
 3674761,
 3685613,
 3696481,
 3707365,
 3718265,
 3729181,
 3740113,
 3751061,
 3762025,
 3773005,
 3784001,
 3795013,
 3806041,
 3817085,
 3828145,
 3839221,
 3850313,
 3861421,
 3872545,
 3883685,
 3894841,
 3906013,
 3917201,
 3928405,
 3939625,
 3950861,
 3962113,
 3973381,
 3984665,
 3995965,
 4007281,
 4018613,
 4029961,
 4041325,
 4052705,
 4064101,
 4075513,
 4086941,
 4098385,
 4109845,
 4121321,
 4132813,
 4144321,
 4155845,
 4167385,
 4178941,
 4190513,
 4202101,
 4213705,
 4225325,
 4236961,
 4248613,
 4260281,
 4271965,
 4283665,
 4295381,
 4307113,
 4318861,
 4330625,
 4342405,
 4354201,
 4366013,
 4377841,
 4389685,
 4401545,
 4413421,
 4425313,
 4437221,
 4449145,
 4461085,
 4473041,
 4485013,
 4497001,
 4509005,
 4521025,
 4533061,
 4545113,
 4557181,
 4569265,
 4581365,
 4593481,
 4605613,
 4617761,
 4629925,
 4642105,
 4654301,
 4666513,
 4678741,
 4690985,
 4703245,
 4715521,
 4727813,
 4740121,
 4752445,
 4764785,
 4777141,
 4789513,
 4801901,
 4814305,
 4826725,
 4839161,
 4851613,
 4864081,
 4876565,
 4889065,
 4901581,
 4914113,
 4926661,
 4939225,
 4951805,
 4964401,
 4977013,
 4989641,
 5002285,
 5014945,
 5027621,
 5040313,
 5053021,
 5065745,
 5078485,
 5091241,
 5104013,
 5116801,
 5129605,
 5142425,
 5155261,
 5168113,
 5180981,
 5193865,
 5206765,
 5219681,
 5232613,
 5245561,
 5258525,
 5271505,
 5284501,
 5297513,
 5310541,
 5323585,
 5336645,
 5349721,
 5362813,
 5375921,
 5389045,
 5402185,
 5415341,
 5428513,
 5441701,
 5454905,
 5468125,
 5481361,
 5494613,
 5507881,
 5521165,
 5534465,
 5547781,
 5561113,
 5574461,
 5587825,
 5601205,
 5614601,
 5628013,
 5641441,
 5654885,
 5668345,
 5681821,
 5695313,
 5708821,
 5722345,
 5735885,
 5749441,
 5763013,
 5776601,
 5790205,
 5803825,
 5817461,
 5831113,
 5844781,
 5858465,
 5872165,
 5885881,
 5899613,
 5913361,
 5927125,
 5940905,
 5954701,
 5968513,
 5982341,
 5996185,
 6010045,
 6023921,
 6037813,
 6051721,
 6065645,
 6079585,
 6093541,
 6107513,
 6121501,
 6135505,
 6149525,
 6163561,
 6177613,
 6191681,
 6205765,
 6219865,
 6233981,
 6248113,
 6262261,
 6276425,
 6290605,
 6304801,
 6319013,
 6333241,
 6347485,
 6361745,
 6376021,
 6390313,
 6404621,
 6418945,
 6433285,
 6447641,
 6462013,
 6476401,
 6490805,
 6505225,
 6519661,
 6534113,
 6548581,
 6563065,
 6577565,
 6592081,
 6606613,
 6621161,
 6635725,
 6650305,
 6664901,
 6679513,
 6694141,
 6708785,
 6723445,
 6738121,
 6752813,
 6767521,
 6782245,
 6796985,
 6811741,
 6826513,
 6841301,
 6856105,
 6870925,
 6885761,
 6900613,
 6915481,
 6930365,
 6945265,
 6960181,
 6975113,
 6990061,
 7005025,
 7020005,
 7035001,
 7050013,
 7065041,
 7080085,
 7095145,
 7110221,
 7125313,
 7140421,
 7155545,
 7170685,
 7185841,
 7201013,
 7216201,
 7231405,
 7246625,
 7261861,
 7277113,
 7292381,
 7307665,
 7322965,
 7338281,
 7353613,
 7368961,
 7384325,
 7399705,
 7415101,
 7430513,
 7445941,
 7461385,
 7476845,
 7492321,
 7507813,
 7523321,
 7538845,
 7554385,
 7569941,
 7585513,
 7601101,
 7616705,
 7632325,
 7647961,
 7663613,
 7679281,
 7694965,
 7710665,
 7726381,
 7742113,
 7757861,
 7773625,
 7789405,
 7805201,
 7821013,
 7836841,
 7852685,
 7868545,
 7884421,
 7900313,
 7916221,
 7932145,
 7948085,
 7964041,
 7980013,
 7996001,
 ...]

In [ ]:
ran out of time unfortunately had internet connectivity issues.